.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;

  .header {
    color: rgb(72, 125, 190);
  }
  .navLinks {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .navLinkItem {
    padding-right: 2rem;
  }
  .navLinkText {
    color: black;
  }
}
