.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #87ceeb;
    padding: 20px 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }
  
  .navList {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*Figure out this shit. make a less module or something*/
  .li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  .link {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  
  .link:hover {
    color: #000000;
  }
  
  .link:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }